<div class="issue-list level">
  <div class="level-left">
    <div class="vote is-inline-block level-item">
      <a class="vote__up upvote_arrow" data-complaint-id='<%=complaint.id%>'><i class="fa fa-chevron-up"></i></a>
      <div class="vote__count"><%= complaint.total_votes %></div>
      <a class="vote__down"><i class="fa fa-chevron-down"></i></a>
    </div>

    <div class="issue-list__content is-inline-block level-item">
      <%= link_to complaint do %>
        <h4><%= complaint.title %></h4>
      <% end %>
      <p><i class="fa fa-map-marker"></i> Location</p>
    </div>
  </div>

  <div class="level-right">
    <div class="issue-list__raised level-item">
      <p>Raised <span>RM120</span></p>
    </div>
  </div>
</div>
