<div class="issue-list level">
  <%= render partial: 'complaint_item_details', locals: {complaint: complaint} %>
  <div class="level-right">
    <a class="button is-link is-inverted" id="pay-btn">Back this cause</a>
    <div class="issue-list__raised level-item">
      <p>Raised <span>RM <%= complaint.total_amount.to_s %></span></p>
    </div>
    <div id="" class="is-hidden complaint-payment-form">
      <%= render partial: 'payments/payment_form', locals: {complaint: complaint} %>
    </div>
  </div>
</div>
