<div class="issue-list level">
  <div class="level-left">
    <div class="vote is-inline-block level-item">
      <a class="vote__up"><i class="fa fa-chevron-up"></i></a>
      <div class="vote__count">200</div>
      <a class="vote__down"><i class="fa fa-chevron-down"></i></a>
    </div>

    <div class="issue-list__content is-inline-block level-item">
      <%= link_to complaint do %>
        <h4><%= complaint.title %></h4>
      <% end %>
      <p><i class="fa fa-map-marker"></i> <%= complaint.address %></p>
    </div>
  </div>
  <div class="level-right">
    <a class="button is-link is-inverted" id="pay-btn">Back this cause</a>
    <div class="issue-list__raised level-item">
      <p>Raised <span>RM120</span></p>
    </div>
  </div>

  <div id="" class="is-hidden complaint-payment-form">
    <%= render partial: 'payments/payment_form', locals: {complaint: complaint} %>
  </div>

</div>