<section class="hero is-medium is-primary">
  <section class="section">
    <div class="container">
        <%= render partial: 'complaint_item', collection: @complaints, as: :complaint %>
    </div>
  </section>
</section>