<form>
  <input class="input" type="text" placeholder="Name" />
  <input class="input" type="email" placeholder="Email" />
  <input class="input" type="password" placeholder="Password" />

  <input class="button is-fullwidth is-primary" type="submit" value="Register with Email">
</form>