<section class="section">
  <div class="container">
    <div class="content">
      <h1>How it works</h1>

      <p>Volite is a centralized and localized board for residents to voice-out complaints regarding their local communities and rally up support to take action.</p>
    </div>
  </div>
</section>