<section class="section">
  <div class="container">
    <div class="content">
      <h1>Terms and Conditions</h1>

      <ol>
        <li>Complaints made and actions requested must be within the federal constitution and the state laws.
      The person submitting the complaint(s) or supporting one by backing or up-voting one is solely responsible for the legal implications and Volte is merely the provider of an open platform and shall not be held responsible and legally bound to any prosecution.</li>
        <li>Complaints must be actionable within a reasonable timeframe by a specific entity otherwise Volite reserves the right to freeze them or completely take them off the platform.</li>
        <li>Users not following the terms and anyone who's activities are deemed harmful to the community and the platform can at any time be terminated without notice.</li>
      </ol>
    </div>
  </div>
</section>