
@import "../base/colors";

.button{
	border-radius: 20px;
	height: 40px;
	padding: 0 20px;
	font-weight: 600;

	&.is-link{
		text-decoration: none;

		&:hover{
			background: rgba(0,0,0,0.2);
		}
	}

	&.is-white-outline{
		border: 2px solid $white;
		background: transparent;
		color: $white;
	}


	&.facebook-login{
		background: #3b5998;
		color: $white;

		i{
			margin-right: 10px;
		}
	}
}