
@import "../base/colors";

nav.nav{
	background: $primary;

	.button{
		margin-top: 5px;
	}

	.button.is-link{
		color: $white;
		font-weight: bold;
	}

	.title{
		color: $white;
		line-height: 50px;
		font-size: 22px;
	}
}