
@import "../base/colors";

.vote{
	width: 100px;
	text-align: center;

	&--small{
		width: auto;
		margin-right: 20px !important;
	}

	&__up, &__down{
		color: $gray;

		&:hover{
			color: $primary;
		}
	}

	&__count{
		color: $dark-gray;
	}
}