
@media all and (max-width: 768px){
	.hero-body.has-text-centered{
		width: 90% !important;
	}

	.container{
		width: 90% !important;
		margin: 0 auto;
	}

	.vote{
		width: auto !important;
	}

	.issue-list__content{
		width: 80% !important;
	}
}