
<nav class="hero-head nav">
  <div class="container">
    <div class="nav-left">
      <a href="/"><h2 class="title">Volite</h2></a>
    </div>
    <div class="nav-right">
      <% if current_user %>
          <a class="button is-link is-inverted" id="profile-btn">Profile</a>
          <a class="button is-primary is-inverted" id="register-btn">Logout</a>
      <% else %>
          <a class="button is-link" id="login-btn">Sign In</a>
          <a class="button is-primary is-inverted" id="register-btn">Register</a>
      <% end %>
    </div>

